.header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #fff;
}

.nav__list {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.nav__item:not(:last-child) {
    margin-right: 25px;
}